*{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  font-family: "Helvetica", sans-serif;
}

header{
  text-align: center;
  margin:0 auto;
  font-family: "Georgia", "Times New Roman", serif;
}

input[type='checkbox']{
  display:none;
}

#main{
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.top_navbar{
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 5vh;
  top: 0;
  background-color: rgb(95,95,95);
}

.top_navbar a{
  font-family: Cabin;
  font-size: 20px;
  float: left;
  color: #fff;
  text-align: center;
  padding: 1vh 1vw;
  text-decoration: none;
}

.top_navbar a:hover{
  background: #000;
  color: white;
}

.collapsibleContainer{
  background-color: #CCC;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.collapsibleContainer:hover{
  background-color: #aaa;
}

.lblToggle{
  display: block;
  text-align: left;
  font-size: 25px;
  padding: 5px 0 5px 0;
}

.lblToggle::before{
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin:0 .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before{
  transform: rotate(90deg) translateX(-3px);
}

.collapsibleContent{
  max-height: 0px;
  overflow: hidden;
  padding: 0 10px 0 10px;

  transition: max-height .2s linear;
}

#headerImg{
  max-width: 40%;
  border: solid;
}

#info{
  width: 50%;
  font-size: 20px;
  margin: 0 auto;
}

#people{
  display: grid;
  grid-gap: 7.5vh 2vw;
  grid-template-columns: 49.25% 49.25%;
  left: 15vw;
  right: 0vw;
  top: 0vh;
  bottom: 0vh;
  position: fixed;
  padding-top: 7.5vh;
  padding-bottom: 2.5vh;
  padding-left: 2.5vw;
  overflow-y: scroll;
}

.person{
  text-align: left;
  overflow-x: hidden;
}

.person img{
  width: 200px;
  max-height: 200px;
  min-height: 150px;
  padding-right: 5px;
}

#logoContainer{
  display: table;
  margin: 0 auto;
  padding-top: 5vh;
}

#logoContainer p{
  padding-bottom: 5px;
  text-align: center;
}

.logo{
  position: relative;
  padding-right: 2.5vw;
  max-height: 60px;
}

#sidebar{
  position: fixed;
  left: 0vw;
  right: 85vw;
  background-color: grey;
  top: 5vh;
  bottom: 0vh;
  display: grid;
  grid-template-columns: auto;
}

#sidebar button{
  font-family: Cabin;
  font-size: 20px;
  float: left;
  color: #fff;
  text-align: left;
  padding-top: 2vh;
  padding-left: .5vw;
  overflow-x: hidden;
  background-color: inherit;
  border-style: none;
}

#sidebar button:hover{
  color: #000;
  cursor: pointer;
}

#servers{
  display: grid;
  grid-gap: 7.5vh 2vw;
  grid-template-columns: auto auto;
  left: 15vw;
  right: 0vw;
  top: 0vh;
  bottom: 0vh;
  position: fixed;
  padding-top: 7.5vh;
  padding-bottom: 2.5vh;
  padding-left: 2.5vw;
  overflow-y: scroll;
}

.server{
  height: auto;
  width: 100%;
  background-color: inherit;
  text-align: left;
  overflow-x: hidden;
}

.server b{
  font-size: 150%;
}
